<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
	<link rel="stylesheet" href="assets/stylesheets/cities.css">
	<title>Highlighted Cities</title>
</head>
<body>
	<div class="nav">
	<ul><hr>
		<li><a href="/">HOME</a></li>
		<li><a href="login">REGISTER<br>LOGIN</a></li>
		<li><a href="profile">PROFILE</a></li>
		<li><a href="cities">HIGHLIGHTED<br>CITIES</a>
		<li><a href="events">EVENTS</a></li>
		<li><a href="share">POSTS</a></li>
	</ul>
	</div>

	<div id="choose">
	<h1>Choose Your City</h1>
	  <div class= "content">
	    <button>Dubai</button>
	    <button>Toronto</button>
	    <button>Fiji</button>
	    <button>San Francisco</button>
	    <button>Auckland</button>
	  </div>
	<h2> Choose a city from the list to see images and forecast</h2>
	</div>
	<div id="images">
	  <h2>Images</h2>
	</div>
	<div id="forecast">
	  <h2>Forecast</h2>
	</div>

</body>
</html>