<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link rel="stylesheet" href="assets/home.css">
	<title>Highlighted Cities</title>
</head>
<body>
	<div class="nav">
	<ul><hr>
		<li><a href="/">HOME</a></li>
		<li><a href="login">REGISTER<br>LOGIN</a></li>
		<li><a href="profile">PROFILE</a></li>
		<li><a href="cities">HIGHLIGHTED<br>CITIES</a>
		<li><a href="events">EVENTS</a></li>
	</ul>
	</div>

<h1 style="font-family: 'Lato', sans-serif;">Events</h1>
<h2 style="font-family: 'Lato', sans-serif;"">Dubai</h2>
<figure class="snip0016">
      <img src="assets/event/festival.jpg">
      <figcaption>
            <h2>Fest&aacute;l &ndash; <span>Asian Pacific Islander</span> Celebration</h2>
            <p>Descripton.</p>
            <a href="#"></a>
      </figcaption>                 
</figure>
<figure class="snip0016">
      <img src="assets/event/storm.jpg">
      <figcaption>
            <h2>Seattle <span>Storm</span> vs. New York <span>Liberty</span></h2>
            <p>Descripton.</p>
            <a href="#"></a>
      </figcaption>                 
</figure>
<figure class="snip0016">
      <img src="assets/event/ferrari.jpg" href="https://exoticsat.com/events/2017/6/10/ferrari-day">
      <figcaption>
            <h2><span>Ferrari</span> Day </h2>
            <p>Descripton.</p>
            <a href="#"></a>
      </figcaption>                 
</figure>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<h2 style="font-family: 'Latp', sans-serif;"">Toronto</h2>
<figure class="snip0016">
      <img src="assets/event/gucci.jpg">
      <figcaption>
            <h2>Dubai <span>Rugby</span> Sevens</h2>
            <p>Descripton.</p>
            <a href="#"></a>
      </figcaption>                 
</figure>
<figure class="snip0016">
      <img src="assets/event/shark.jpg" style="height: 180px;">
      <figcaption>
            <h2>San Jose <span>Sharks</span> Edmonton <span>Oilers </span></h2>
            <p>Descripton.</p>
            <a href="#"></a>
      </figcaption>                 
</figure>
<figure class="snip0016">
      <img src="assets/event/sneakercon.jpg">
      <figcaption>
            <h2></a><span>Sneaker</span> Con </h2>
            <p>Descripton.</p>
            <a href="#"></a>
      </figcaption>
</figure>               
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<h2 style="font-family: 'Lato', sans-serif;"">Fiji</h2>
<figure class="snip0016">
      <img src="assets/event/bula.png">
      <figcaption>
            <h2><span>Bula</span> Festival</h2>
            <p>Descripton.</p>
            <a href="#"></a>
      </figcaption>                 
</figure>
<figure class="snip0016">
      <img src="assets/event/hibiscus.jpg" style="height: 180px;">
      <figcaption>
            <h2><span>Hibiscus</span> Festival</h2>
            <p>Descripton.</p>
            <a href="#"></a>
      </figcaption>                 
</figure>
<figure class="snip0016">
      <img src="assets/event/swim.jpg">
      <figcaption>
            <h2>Fiji Ocean<span>Swim</span> Festival</h2>
            <p>Descripton.</p>
            <a href="#"></a>
      </figcaption>
</figure>

</body>
</html>