<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
	<link rel="stylesheet" href="assets/home.css">
	<title>22 Travel | Home</title>
</head>
<body>

</body>
</html>