<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
	<link rel="stylesheet" href="assets/stylesheets/share.css">
	<title>View & Share Posts</title>
</head>
<body>
	<div class="nav">
	<ul><hr>
		<li><a href="/">HOME</a></li>
		<li><a href="login">REGISTER<br>LOGIN</a></li>
		<li><a href="profile">PROFILE</a></li>
		<li><a href="cities">HIGHLIGHTED<br>CITIES</a>
		<li><a href="events">EVENTS</a></li>
		<li><a href="share">POSTS</a></li>
	</ul>
	</div>
	<div id="coolbutton">
	  <div class="button"><a href="posts">View Posts</a></div>
	  <div class="button"><a href="create">Create Posts</a></div>
	</div>
</body>
</html>